.alert {
  transition: opacity 0.5s ease-out;
}

.layout {
  width: 100%;

  display: grid;
  grid:
    "navbar" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 8px;
}

.navbar {
  display: flex;
  justify-content: space-between; /* espacio entre hijos */
  align-items: center;
  height: 70px;
  background-color: #333;
  padding: 0 20px;
  position: relative; /* puede quedar */
  color: white;
}

.filtros {
  display: flex;
  gap: 10px;
}

.filtros .btn {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.navbar h2 {
  margin: 0;
  /* Remover position absolute para que no se superponga */
  position: static;
  transform: none;
  flex-grow: 1;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  /* Remover posición absoluta para que quede en flujo */
  position: static;
}
