.alert {
  transition: opacity 0.5s ease-out;
}

.layout {
  width: 100%;

  display: grid;
  grid:
    "navbar" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 8px;
}

.navbar {
  position: relative; /* necesario para que el h2 absoluto se posicione dentro */
  display: flex;
  align-items: center;
  height: 70px;
  background-color: #333;
  padding: 0 20px;
  color: white;
  gap: 20px;
}

.titulo-navbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
}

.filtros .btn {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  border-color: #333;
  color: white;
}

.card {
  min-height: 420px; /* ajustá a lo necesario */
}

#contenedor-productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

#contenedor-productos .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-menu {
  background-color: #444; /* fondo gris oscuro */
}

.dropdown-menu .dropdown-item {
  background-color: #555;
  color: white; /* color del texto */
}

.dropdown-menu .dropdown-item:hover {
  color: #333; /* color al pasar el mouse */
}
